<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>八一社区疫情防控指挥应急系统</title>
	<link rel="stylesheet" href="/Public/css/layui.css">
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<include file="Common/header" />

	<include file="Common/left" />


	<div class="layui-body" style="z-index: 0;">
		<!-- 内容主体区域 -->
		<div style="padding: 15px;">
	<head>
		<meta charset="UTF-8">
		<title></title>
	    <link rel="stylesheet" href="/Public/css/amazeui.min.css">
		<link rel="stylesheet" href="/Public/css/admin.css">
		<link rel="stylesheet" href="/Public/css/app.css">
		<style>
			.admin-main{
				padding-top: 0px;
			}
		</style>
	</head>
	<body>
		<div class="am-cf admin-main">
		<!-- content start -->
		<div class="admin-content">
			<div class="admin-content-body">
				<div class="am-g">
					<form class="am-form am-form-horizontal" action="{:U('updateUserSave')}"
						 method="post"
						style="padding-top:30px;" data-am-validator>
						<div class="am-form-group">
							<label for="user-name" class="am-u-sm-3 am-form-label">
								员工姓名 </label>
							<div class="am-u-sm-9">
								<input type="text" id="doc-vld-pwd-1" required placeholder=""
									name="name" value="{$userinfo.name}">
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-name" class="am-u-sm-3 am-form-label">
								员工性别</label>
							<div class="am-u-sm-9">
								<input type="text" id="doc-vld-pwd-2" required placeholder=""
									name="sex" value="{$userinfo.sex}"  data-equal-to="#doc-vld-pwd-1"  required>
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-name" class="am-u-sm-3 am-form-label">
								联系方式</label>
							<div class="am-u-sm-9">
								<input type="text" id="doc-vld-pwd-2" required placeholder=""
									name="tel"  data-equal-to="#doc-vld-pwd-1"value="{$userinfo.tel}"  required>
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-name" class="am-u-sm-3 am-form-label">
								出生日期</label>
							<div class="am-u-sm-9">
								<input type="text" id="doc-vld-pwd-2" required placeholder=""
									name="birthday"  data-equal-to="#doc-vld-pwd-1" value="{$userinfo.birthday}" required>
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-name" class="am-u-sm-3 am-form-label">
								工作单位</label>
							<div class="am-u-sm-9">
								<input type="text" id="doc-vld-pwd-2" required placeholder=""
									name="work"  data-equal-to="#doc-vld-pwd-1" value="{$userinfo.work}" >
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-name" class="am-u-sm-3 am-form-label">
								工作部门</label>
							<div class="am-u-sm-9">
								<input type="text" id="doc-vld-pwd-2" required placeholder=""
									name="gzbm"  data-equal-to="#doc-vld-pwd-1" value="{$userinfo.gzbm}" >
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-name" class="am-u-sm-3 am-form-label">
								家庭地址</label>
							<div class="am-u-sm-9">
								<input type="text" id="doc-vld-pwd-2" required placeholder=""
									name="home"  data-equal-to="#doc-vld-pwd-1" value="{$userinfo.home}" >
							</div>
						</div>
						<?php if(empty($userinfo)) echo '<div class="am-form-group">
						<label for="user-name" class="am-u-sm-3 am-form-label">
							密码</label>
						<div class="am-u-sm-9">
							<input type="text" id="doc-vld-pwd-2" required placeholder=""
								   name="password"  data-equal-to="#doc-vld-pwd-1" value="" >
						</div>
				</div>'; ?>
						<div class="am-form-group">
							<label for="user-name" class="am-u-sm-3 am-form-label">
								管理员权限</label>
							<div class="am-u-sm-9">
								<input type="radio"  name="level" value="1" <?php echo $userinfo['level'] == 1 ? ' checked' :'' ?>>超级管理员
								<input type="radio"  name="level" value="2" <?php echo $userinfo['level'] == 2 ? ' checked' :'' ?>>普通管理员
							</div>
						</div>

						<input type="hidden" name="id" value="{$userinfo.id}">
						<div class="am-form-group">
							<div class="am-u-sm-9 am-u-sm-push-3">
								<input type="submit" class="am-btn am-btn-success" value="新增/修改" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript"
		src="/Public/assets/js/libs/jquery-1.10.2.min.js">
	</script>
	<script type="text/javascript" src="/Public/myplugs/js/plugs.js">
	</script>
	</body>
</div>
</div>

<include file="Common/footer" />
</div>

<script type="text/javascript" src="/Public/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/Public/myplugs/js/plugs.js">
</script>
<script type="text/javascript">
	//添加编辑弹出层
	function updatePwd(title, id) {
		$.jq_Panel({
			title: title,
			iframeWidth: 500,
			iframeHeight: 300,
			url: "{:U('updatePwd')}"
		});
	}
</script>
<script src="Public/js/layui.js"></script>
<script>
	//JavaScript代码区域
	layui.use('element', function() {
		var element = layui.element;

	});
</script>
</body>

</html>
