<div class="layui-header">
    <div class="layui-logo">八一社区疫情防控指挥系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->

    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="/Public/images/1.gif" class="layui-nav-img">{$username}
            </a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="">基本资料</a>
                </dd>
                <dd>
                    <a href="">安全设置</a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="{:U('Login/login')}">退了</a>
        </li>
    </ul>
</div>